$color-primary : #55c57a;
$color-primary-light : #0ec493;
$color-primary-dark : #155d45;
$color-primary-white: #ffffff;
$gutter-vertical : 8rem;
$gutter-horizontal :  6rem; 
$col-width: 114rem;

// media query manager

/*
$breakpoint argyment choices
- phone
- tab-port
- tab-land
- big-desktop
1 em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; // 0-600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; // 600-900px
    }
    
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}; // 1200-1800px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content}; // >1800px
    }
}



html{
    
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
    @include respond(phone){ // width<600?
        font-size: 50%; 
    }
   
    @include respond(tab-land){ // width<1200?
        font-size: 56.25%;  // 1 rem = 9px 9/16
    }
     @include respond(tab-port){ // width<900?
        font-size: 52%; // 1 rem = 8px 8/16 
    }
    @include respond(big-desktop){ // >1800?
        font-size: 75%; // 1 rem = 12px 12/16
    }
    
}

*{
    margin: 0;
    padding: 0;
}

.features{
    
     
        
        animation-name: moveInLeft;
        animation-duration: 1s;
    
    
    .row{
    
    max-width: $col-width;
    margin: 0 auto;
    margin-bottom: 6em;
        
     
    
    &:not(:last-child){
 
    margin-bottom: $gutter-vertical ;
        
    }
    [class^='col-'] {  /*All class that starts with 'col-' */
        
        &:not(:last-child){
       margin-right: $gutter-horizontal;
            
        @include respond(phone){
        margin-right: 0px;
        width: 100% !important;
        margin-bottom: 5rem;
        
    }
        
    }
        
        float: left;
        
        @include respond(phone){
        
        width: 100% !important;
        
    }
    }
    
    &:after{
    content:"";
    clear:both; /* both left and right floating elements */
    display:table;
    }
    
    .col-1-of-2{
        width : calc((100% - #{$gutter-horizontal})/2);
        text-align: center;
         
     
        
     
}
    
}
    .feature_img{
        
        
       max-height: 13rem;
        
    }
    
    
    .features-sub{
        font-size: 2rem;
        font-weight: 400;
    }
    .feature__h1{
        font-size: 2.8rem;
        padding: 1.2rem;
        
    }
   
}

.header {
    height: 95vh; /* 95% of viewport height */
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)), url(https://cdn.pixabay.com/photo/2015/05/12/09/13/freelancer-763730_960_720.jpg);
    color: $color-primary;
    background-size: cover; /* Always try to fit viewport */
    background-position: top; /* top stays the same as we resize browser */
    text-transform: uppercase;
    color: $color-primary-white;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    
    
    &-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* These 50% are only for the box not for the parent */
    text-align: center;
        
    
        
    }
    
    &-btn{
        
    margin-top: 2rem;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    border-color: $color-primary;
    transform: all .2s;
    position: relative; 
    background-color: $color-primary-white;
    

   
    & a{
        text-decoration: none;
        font-size: 2rem;
        color: black;
        
        
        }
        
    &:hover {
    
    transform: translateY(-.2rem); /* go up negative */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2); 
}
    &:active {
    
    transform: translateY(-.1rem); /* go up negative */
}
  
    }
    

  &-main{
        
       font-size: 5.5rem;
       font-weight: 900;
       animation-name: moveInLeft;
       animation-duration: 1s;
      color: #a6ff4c;
      
    
        
    }
    
 &-sub{
        font-size: 3rem;
        font-weight: 400;
     color: #ffffff;
    
    }   
}




@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
        
    }
    100% {
        opacity: 1;
        transform: translate(0);
        
    }
    
    
}


    
    
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 35rempx;
  height: 25rem;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 0 auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
//  background-color: #dddbdb;
  color: black;
    display:relative;
  
    
   
  
}
//.flip-card-front h1{
//    padding-top: 2rem;
//}

/* Style the back side */
.flip-card-back {
  background-color: #0ec493;
  color: #fffcfc;
  transform: rotateY(180deg);
}
.flip-card__backText{
    
    font-size: 2.5rem;
}
.think{
    width: 64px;
    
}
.review{
    padding-bottom: 20rem;
    background-image: linear-gradient(to right bottom,rgba(#202052,0.8),rgba(#0062c4,0.8)), url(https://cdn.pixabay.com/photo/2018/03/26/06/20/desktop-3261768_960_720.jpg);
    background-size: cover; /* Always try to fit viewport */
    background-position: top; /* top stays the same as we resize browser */
    
   
   
    
    
    &-h1{
        color:#c7d4ff;
        font-size: 4.2rem;
        padding-top: 10rem;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        
    }
    &-li__box{
   padding-top: 7rem;
    padding-left: 5rem;
    
        
    }
    &-li{
        color: white;
        font-size: 3.2rem;
        text-align: left;
        margin: 0 auto;
        list-style-type: square;
        
        
    }
    &-h2{
      
        font-size: 3.5rem;
        text-align: center;
        color: #c8f05c;
        text-transform: uppercase;
    }
    &-img{
        
        width: 30rem;
        padding-top: 7rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        
       @include respond(phone){ 
          padding-top: 0 !important;  
        
    } 
    }
   
    }

.row{
    
    max-width: $col-width;
    margin: 0 auto;
    margin-bottom: 6em;
        
     
    
    &:not(:last-child){
 
    margin-bottom: $gutter-vertical ;
        
    }
    [class^='col-'] {  /*All class that starts with 'col-' */
        
        &:not(:last-child){
       margin-right: $gutter-horizontal;
            
        @include respond(phone){
        margin-right: 0px;
        width: 100% !important;
        margin-bottom: 5rem;
        
        
    }
        
    }
        
        float: left;
        
        @include respond(phone){
        
        width: 100% !important;
        
    }
    }
    
    &:after{
    content:"";
    clear:both; /* both left and right floating elements */
    display:table;
    }
    
    .col-1-of-2{
        width : calc((100% - #{$gutter-horizontal})/2);
        text-align: center;
         
     
        
     
}
    
}
.footer{
  
    background-color:#545365;
    background-image: linear-gradient(to right,rgba(rgb(46, 45, 58),0.8),rgba(rgb(48, 47, 60),0.8));
    
        
 & ul{
        list-style-type: none;
        text-decoration: none;
        font-size: 1.8rem;
         color:white;
         padding-top: 2rem; 
         text-align:left;
         float: right;
        
        @include respond(phone){

            float: left;
    }
     @include respond(phone){

            padding: 5rem 5rem;
    }
        
    }
    & a{
        color:white;
    
    }
.aboutUs{
    
    padding-top: 20rem;
   
    color:white;
    
     @include respond(tab-land){

            padding: 5rem 10rem;
    }
     @include respond(phone){

            padding: 5rem 5rem;
    }
   
    
    
    & h2{
 
          
    font-size: 2.8rem;
    text-align: left;
    
    }
    & p{
        padding-top: 2.5rem;
        font-size: 1.8rem;
        text-align: left;
        
    }
   
}
     [class^='col-'] {
        
        :not(:last-child){
 
    margin-right: 20rem !important;
        
    }
    }
    .copy{
        color:white;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }
    
}
.social{
    text-align: center;
}
.collect{
    color:white;
    font-size: 1.2rem;
    text-align: center;

    
}